.button {
	border-radius: 6px;
	padding: 8px 30px;
	font-family: inherit;
	cursor: pointer;
	transition: background 0.25s;
	font-size: 16px;
	border: none;
}

.accent:hover {
	background: #222096;
}

.accent {
	background: #312EB5;
}