.journal-item {
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.03);
	color: #FFF;
	padding: 20px;
}

.journal-item__header {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

.journal-item__date {
	color: rgba(255, 255, 255, 0.40);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.journal-item__text {
	color: rgba(255, 255, 255, 0.60);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	overflow: hidden;
}

.journal-item__body {
	display: flex;
	gap: 10px;
}